#appcontainer{
    background: url("./back1.jpeg");
    background-size: contain;
    border: 1px brown solid;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
}

#clockcontainer{
    position: relative;
    background: url("./ring.png");
    background-size: contain;
}

#clockface {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

#hands {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

#overlay {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 15;
}

form {
    text-align: center;
}

button {
    margin: 10px;
    width: 120px;
    height: 40px;
    box-shadow: 7px 7px 8px #ffffff inset, -5px -5px 6px #7796b3 inset;
    border-radius: 10px;
    border-top: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(100, 100, 100);
    border-left: 2px solid rgb(172, 172, 172);
    border-right: 2px solid rgb(100, 100, 100);
    background: linear-gradient(to bottom right, rgb(235, 244, 255), rgb(192, 220, 255));
}
