#container{
    margin:0;
    /* padding:10px; */
    position: relative;
    outline: 1px blue solid;
    /* background-color: blue; */
}

#clockface {
    margin:0;
    /* padding:10px; */
    outline: 1px red solid;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}

#hands {
    margin:0;
    /* padding:10px; */
    outline: 1px red solid;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}
/* 
#hrhand{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    background-color: black;
}

#minhand{
    position: absolute;
    left: 50%; 
     transform: translate(-50%,0);

    background-color: orange;
}
#sechand{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);

    background-color: red;
} */

