@font-face {
    font-family: "ds-digital";
    src: url("../fonts/ds-digib.woff") format('woff');
}

#appcontainer{
    position: relative;
    background: url("../images/back1.jpeg");
    background-size: contain;
    border: 1px brown solid;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
    overflow:hidden;

}

#clockcontainer{
    position: relative;
    background: url("../images/ring.png");
    background-size: contain;
}

#clockface {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    font-family: "ds-digital";
}

.mydiv {
    font-family: myfont
}

#hands {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

#overlay {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 15;
}

form {
    text-align: center;
}

button {
    margin: 10px 5px 0 5px;
    width: 120px;
    height: 40px;
    box-shadow: 7px 7px 8px #ffffff inset, -5px -5px 6px #7796b3 inset, 2px 2px 5px rgb(70, 45, 0);
    border-radius: 10px;
    border-top: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(100, 100, 100);
    border-left: 2px solid rgb(172, 172, 172);
    border-right: 2px solid rgb(100, 100, 100);
    background: linear-gradient(to bottom right, rgb(235, 244, 255), rgb(192, 220, 255));
}

input {
margin: 10px;
margin-top: 15px;
margin-bottom: 0;
}

#optionsmodal {
    position: absolute;
    z-index: 20;
    bottom: 0px;
    height: 150px;
    width: 300px;
    left: 50%;
    transform: translate(-50%);
    color:white;
    font-weight: bold;
    background: url("../images/back1.jpeg");
    border: 1px solid black; 
    overflow:hidden;
    transition: 1s;
    margin-bottom: -150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#led {
    color: black;
    background-color: rgb(206, 206, 206);
    font-family: "ds-digital";
    font-size: 30px;
    /* border: 2px solid black; */
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    /* border-top: 5px solid rgb(255, 244, 150);
    border-bottom: 5px solid #9C8355;
    border-left: 5px solid #F8F2C0;
    border-right: 5px solid #9C8355;  */
    border: 5px solid black;
    border-image: radial-gradient(#9C8355 10%, #F8F2C0) 20;
    box-shadow: 2px 2px 5px rgb(70, 45, 0);
}
