@font-face {
    font-family: "lcd";
    src: url("../fonts/LCD.woff") format('woff');
}

body {
    font-family: system-ui;
    font-size: x-small;
}

#appcontainer {
    position: relative;
    background: url("../images/back1.jpeg");
    background-size: contain;
    border: 8px rgba(140, 42, 42, 0.268) solid;
    border-right: 8px rgba(130, 32, 32, 0.392) solid;
    border-bottom: 8px rgba(130, 32, 32, 0.392) solid;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    box-shadow: 4px 4px 8px 1px rgba(70, 70, 70, 0.453);
}

#clockcontainer {
    position: relative;
    background: url("../images/ring.png");
    background-size: contain;
}

#clockface {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

#clockshadow{
    position: absolute;
    display:inline-block;
    z-index: 5;

    width:224px;
    height:224px;

    top: 28.2%; 
    left: 50%;
    transform: translate(-50%,-50%);

    box-shadow: 7px 7px 8px rgba(70, 46, 0, 0.653), 7px 7px 8px rgba(0, 0, 0, 0.315) inset;
    border-radius: 50%;
    border: 16px solid rgba(255, 0, 0, 0);
}

/* .mydiv {
    font-family: myfont
} */

#hands {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

#overlay {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}

.buttoncontainer {
    margin-left: 6px;
}

.button {
    margin: 8px 4px 0 4px;
    width: 120px;
    height: 40px;
    box-shadow: 7px 7px 8px #fafafa inset, -5px -5px 6px #7796b3 inset, 2px 2px 8px rgba(70, 46, 0, 0.653);
    border-radius: 10px;
    border-top: 2px solid rgb(172, 172, 172);
    border-bottom: 2px solid rgb(100, 100, 100);
    border-left: 2px solid rgb(172, 172, 172);
    border-right: 2px solid rgb(100, 100, 100);
    background: linear-gradient(to bottom right, rgb(227, 240, 255), rgb(186, 217, 255));
}

#optionsModal, #instructionsModal {
    position: absolute;
    z-index: 20;
    bottom: 0px;
    height: 200px;
    width: 250px;
    left: 50%;
    transform: translate(-50%);
    color:white;
    font-weight: bold;
    font-size: 13px;
    background: url("../images/back1.jpeg");
    border: 1px solid black; 
    overflow:hidden;
    transition: 1s;
    margin-bottom: -215px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    text-align: center;
}

#optionsModal {
    text-align: center;
}

/* a {
    margin-bottom: 50px;
} */

#lcd {
    color: black;
    background-color: rgb(206, 206, 206);
    font-family: "lcd";
    font-size: 20px;
    width:235px;
    height:40px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border: 5px solid black;
    border-image: radial-gradient(#9C8355 20%, #F8F2C0) 20;
    box-shadow: 4px 4px 6px rgba(70, 46, 0, 0.653), 2px 2px 5px black inset;
    resize: none;
}


.slidecontainer {
    width: 240px; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    box-shadow: 2px 2px 1px #787777 inset;
    margin-bottom: 20px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    background: linear-gradient(to bottom right, rgb(235, 244, 255), rgb(192, 220, 255));
    box-shadow: 7px 7px 8px #eeeeee inset, -5px -5px 6px #7796b3 inset, 3px 3px 5px rgba(70, 46, 0, 0.653);
    border-radius: 10px;
}

.slider::-moz-range-thumb {
    width: 55px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    background: linear-gradient(to bottom right, rgb(235, 244, 255), rgb(192, 220, 255));
    box-shadow: 7px 7px 8px #eeeeee inset, -5px -5px 6px #7796b3 inset, 3px 3px 5px rgba(70, 46, 0, 0.653);
    border-radius: 10px;
}




.led-green {
    position: absolute;
    top: 49%; 
    left: 5%;
    transform: translate(5%,0%);
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: rgb(2, 111, 9);
    border-radius: 50%;
    border: 2px solid rgb(206, 196, 108);
    /* border-image: radial-gradient(#9C8355 20%, #F8F2C0) 20; */
    box-shadow: rgba(70, 46, 0, 0.353) 0 0 7px 3px, inset #213200 0 0 3px 3px, inset 3px 3px 2px 2px lightgreen, 4px 4px 6px rgba(70, 46, 0, 0.653);
  }

  .led-green-blink {
    /* -webkit-animation: blinkGreen 0.5s infinite;
    -moz-animation: blinkGreen 2.0s infinite;
    -ms-animation: blinkGreen 2.0s infinite;
    -o-animation: blinkGreen 2.0s infinite; */
    animation: blinkGreen 2.0s infinite; 
  }

.led-red {
    position: absolute;
    top: 49%; 
    right: 6%;
    transform: translate(5%,0%);
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #A00;
    border-radius: 50%;
    border: 2px solid rgb(206, 196, 108);
    box-shadow: rgba(70, 46, 0, 0.353) 0 0 7px 3px, inset #601414 0 0 3px 3px, inset 3px 3px 2px 2px lightcoral, 4px 4px 6px rgba(70, 46, 0, 0.653);
  }

  .led-red-blink {
    /* -webkit-animation: blinkRed 0.5s infinite;
    -moz-animation: blinkRed 2.0s infinite;
    -ms-animation: blinkRed 2.0s infinite;
    -o-animation: blinkRed 2.0s infinite; */
    animation: blinkRed 2.0s infinite; 
  }
  
  /* @-webkit-keyframes blinkRed {
      from { background-color: #F00; }
      50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
      to { background-color: #F00; }
  }
  @-moz-keyframes blinkRed {
      from { background-color: #F00; }
      50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
      to { background-color: #F00; }
  }
  @-ms-keyframes blinkRed {
      from { background-color: #F00; }
      50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
      to { background-color: #F00; }
  }
  @-o-keyframes blinkRed {
      from { background-color: #F00; }
      50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
      to { background-color: #F00; }
  } */


  @keyframes blinkRed {
      from { background-color: rgb(255, 0, 0); box-shadow: 0 0 15px 8px rgba(247, 6, 6, 0.706), inset #441313 0 -1px 9px}
      50% { background-color: #800; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
      to { background-color: rgb(255, 0, 0); box-shadow: 0 0 15px 8px rgba(247, 6, 6, 0.706), inset #441313 0 -1px 9px}
  }
  
  @keyframes blinkGreen {
    from { background-color: rgb(1, 249, 1); box-shadow: 0 0 15px 8px rgba(6, 247, 34, 0.506), inset #441313 0 -1px 9px}
    50% { background-color: rgb(0, 109, 22); box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: rgb(1, 249, 1); box-shadow: 0 0 15px 8px rgb(6, 247, 34, 0.506), inset #441313 0 -1px 9px}
}











  /* Style the tab */
.tab {
    overflow: hidden;
    border-left: 1px solid white;
    border-right: 1px solid white; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    background-color: rgba(250, 250, 250, .5);
    border-left: 1px solid white;
    border-right: 1px solid white; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    float: left;
    outline: none;
    cursor: pointer;
    width: 62px;
    padding: 10px 0;
    transition: 0.3s;
    font-weight: bold;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: none;
    color: white;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 10px 0px;
    border: 2px solid white;
    border-top: none;
    height: 95px;
  }